.aboutbox{
    border: 1px solid black;
    background-color: rgb(35, 35, 35);
    float: left;
    width: 950px;
    height: 450px;
    margin: 40px 40px 0px 20px;
}
.aboutbox strong{
    float: left;
    font-size: 15px;
}
.aboutbox p{
    float: left;
    font-size: 15px;
}