.postboxdiv{
    /* border: 2px solid black; */
    background-color: rgb(39, 39, 43);
    padding: 80px 0px 80px 0px;
    margin: 40px 100px 0px 100px;
    border-radius: 15px;
}
.post-field{
    background-color: rgb(29, 29, 33);
    border: 1px none black;
    color: lightgrey;
    font-size: 17px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    resize: none;
    border-radius: 15px;
}
.post-field:focus { 
    outline: none !important;
    /* border:1px solid red; */
    box-shadow: 0 0 5px #9ac5f3;
  }

