.rightbox {
    /* border: 2px solid black; */
    height: 600px;
    width: 300px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(29, 29, 33);
    border-radius: 10px;
    }

    .rightbox ul{
        list-style-type: none;
        font-size: 21px;
        padding-left: 0;
        }

        .rightbox ul li{
            margin-bottom: 20px;
            }