.topbox {
    
    /* border: 2px darkblue;
    border-style: solid none none none; */
    height: 70px;
    /* width: 100%; */
    background-color: rgb(29, 29, 33);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}