.leftbox{
    /* border: 2px solid black; */
    height: 370px;
    width: 300px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(29, 29, 33);
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
}
.leftbox ul{
    padding-left: 0;
    /* margin-left: -30px; */
    margin-top: 40px;
    float: left;
    /* border: 1px solid grey; */
}
.leftbox ul li{
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: 50px;
    float: left;
    width: 200px;
    /* border: 1px solid grey; */
}
.leftbox ul li a{
    text-decoration: none;
    color: lightgrey;
    font-size: 19px;
    font-weight: bold;
    /* border: 1px solid grey; */
    margin: 5px 0px 0px 0px;
    float: left;
}
.leftbox ul li span{
    margin: 0px 10px 0px 0px;
    /* padding-top: 20px; */
    /* border: 1px solid green; */
    float: left;
}
    